html {
  font-family: "Sofia Sans", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
main {
  /* margin-left: 11vw; */
}
h1 {
  font-family: "Sofia Sans", sans-serif;
  font-size: 3.25em;
  color: rgb(45, 101, 152);
}
h2 {
  font-size: 20px;
}
p {
  font-weight: lighter;
  font-size: 26px;
}
.no-margin {
  margin-top: 0px;
  width: 65vw;
  font-size: 3.5vw;
  z-index: 2;
}
.container {
  display: flex;
  align-items: center;
  height: 80vh;
  width: 78vw;
  margin-left: 11vw;
}
.text-div {
  width: 50vw;
}
.discription {
  width: 50vw;
}
.home_graphic {
  position: relative;
  top: 25px;
  width: 28vw;
  height: 25.0vw;
  z-index: -1;
}
.link-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 125px;
}
.link-box {
  color: rgb(29, 42, 54);
  height: 30px;
  width: 250px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 3px rgb(45, 101, 152);
  margin: 1px;

}
.link-box:hover {
  margin: 0px;
  border: solid 4px rgb(45, 101, 152);
  /* box-shadow: 0px 0px 2px black; */
}
.homepage-bottom {
  width: 100vw;
  height: calc(20vh - 60px);
  /* background-color: grey; */
  display: flex;
  justify-content: center;
  align-items: center;
}
#learn-more {
  transform: scale(1.1,1.1);
  position: relative;
  bottom: 20px;
  background-color: rgb(45, 101, 152);
  color: white;
}

/*
For the icons, I changed the color and size and most likely
adjusted the aspect ratio slightly in the process of creating the
main graphic used on the homepage (src = "home_graphic.png").

All Icons were made availble through the open source icon repository
made public by Google:

https://fonts.google.com/icons
https://github.com/google/material-design-icons

Copyright: Google 2016
Made avaible and used in accordance with the Apache License Version 2.0
https://www.apache.org/licenses/LICENSE-2.0.txt
*/

.material-symbols-outlined {
  color: rgb(29, 42, 54);
  transform: scale(3,3);
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 200,
  'opsz' 48
}

/*
Responsive for desktop use when the user has their window open to less
than 1000px but more than 800px
*/
@media (max-width: 1000px) {
  h2 {
    font-size: 18px;
  }
  .home_graphic {
    display: none;
  }
  .link-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: calc(5%);
    width: 90%;
    height: auto;
  }
  .link-box {
    width: 30%;
    height: 30px;
    /* width: 200px; */
  }
  .no-margin {
    width: 78vw;
    font-size: 5vw;
    z-index: 2;
  }
  .text-div {
    width: 78vw;
  }
  .discription {
    width: 78vw;
    text-align: center;
  }
}

/*
Responsive for desktop use when the user has their window open to less
than 800px
*/
@media (max-width: 800px) {
  .link-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 125px;
    margin-left: calc(50% - 125px);
    width: 250px;
  }
  .link-box {
    width: 250px;
    height: 30px;
  }
  .no-margin {
    width: 78vw;
    font-size: 35px;
    text-align: center;
    z-index: 2;
  }
  p {
    font-size: 22px;
  }
}
@media (max-height: 600px) {
  .link-list {
    display: none;
  }
}
